<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script>
        chatSocket = new WebSocket('wss://www.entinsoft.com:8080');

        chatSocket.onopen = function() {
            console.log('WebSocket connection established.');
        }

        chatSocket.onmessage = function(event) {
            console.log(event.data)
        }

        chatSocket.onerror = function(err) {
            console.error(err)
        }

    </script>
</body>
</html>